In [1]:
# Diccionarios

empty_dict = {}

d1 = {'a': 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [2]:
d1 [7] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [3]:
d1['b']

[1, 2, 3, 4]

In [4]:
'b' in d1

True

In [5]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [6]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [7]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [8]:
ret = d1.pop('dummy')
ret

'another value'

In [9]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [10]:
list(d1.keys())

['a', 'b', 7]

In [11]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [12]:
d1.update({'b': 'foo', 'c': 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [13]:
mapping = dict(zip(range(5), reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [14]:
words = ['apple', 'bat', 'bar', 'atom', 'book']
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
        
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [17]:
#Hash nos da el id de la llave de un objeto (mientras esta sea inmutable [listas son mutables])

hash('string')

7118974633398094329

In [16]:
hash((1,2, (2, 3)))

1097636502276347782

In [18]:
hash((1,2, [2, 3]))

TypeError: unhashable type: 'list'

In [19]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [20]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [21]:
# Sets soportan operaciones matematicas como uniones , intersecciones, diferencias y diferencia sometrica

a = {1, 2, 3, 4, 5}

b= {3, 4, 5, 6, 7, 8}

In [22]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [24]:
a.intersection(b)

{3, 4, 5}

In [25]:
a & b

{3, 4, 5}

In [26]:
c = a.copy()

In [27]:
c |= b

c

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
d = a.copy()

d &= b

d

{3, 4, 5}

In [29]:
my_data = [1, 2, 3, 4]

my_set = {tuple(my_data)}

my_set

{(1, 2, 3, 4)}

In [30]:
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [31]:
a_set.issuperset({1, 2, 3})

True

In [33]:
# List , Set and Dict Comprehensions

# List Comprehension
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [34]:
# set comprehension

unique_lenghts = {len(x) for x in strings}

unique_lenghts

{1, 2, 3, 4, 6}

In [35]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [36]:
loc_mapping = {val: index for index, val in enumerate(strings)}

loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [37]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [38]:
result = [name for names in all_data for name in names
          if name.count('e')>= 2]

result

['Steven']

In [39]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

flattened = [x for tup in some_tuples for x in tup]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]