In [1]:
# Tuplas: Las Tuplas no pueden ser modificadas
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [3]:
tuple([4, 0 ,3])

(4, 0, 3)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
tup = tuple(['foo', [1, 2], True])

In [8]:
tup [2] = False

TypeError: 'tuple' object does not support item assignment

In [9]:
tup[1].append(3)

In [10]:
tup

('foo', [1, 2, 3], True)

In [12]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [14]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [15]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [16]:
a, b = 1, 2
a

1

In [17]:
b

2

In [18]:
b, a = a, b

In [19]:
a

2

In [20]:
b

1

In [21]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [22]:
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [23]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [24]:
rest

[3, 4, 5]

In [25]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [26]:
# LISTAS

a_list = [2, 3, 7, None]

tup = ('foo', 'bar', 'baz')

b_list = list(tup)

b_list

['foo', 'bar', 'baz']

In [27]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [28]:
gen = range(10)
gen

range(0, 10)

In [29]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [31]:
# Insertar gasta m√°s recursos que append
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [32]:
# Pop remueve y regresa un elemento de un indice en particular
b_list.pop(2)

'peekaboo'

In [33]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [34]:
# Remove quita la primera coincidencia encontrada

b_list.append('foo')
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [35]:
b_list.remove('foo')
b_list

['red', 'baz', 'dwarf', 'foo']

In [36]:
'dwarf' in b_list

True

In [37]:
'dwarf' not in b_list

False

In [38]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [39]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [40]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [41]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [42]:
import bisect

c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [43]:
bisect.bisect(c, 5)

6

In [44]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [45]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [46]:
seq[3:4] = [6, 3]
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [47]:
seq[:5]

[7, 2, 3, 6, 3]

In [48]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [49]:
seq[-4:]

[5, 6, 0, 1]

In [50]:
seq[-6:-2]

[6, 3, 5, 6]

In [51]:
seq[::2]

[7, 3, 3, 6, 1]

In [52]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [53]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i, v in enumerate(some_list):
    mapping[v] = i

mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [54]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [56]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [57]:
seq1 = ['foo', 'bar', 'baz']

seq2 = ['one', 'two', 'three']

zipped = zip(seq1, seq2)

list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [58]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [59]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [62]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Curt', 'Schilling')]

first_names, last_names = zip(*pitchers) 

first_names

('Nolan', 'Roger', 'Curt')

In [63]:
last_names

('Ryan', 'Clemens', 'Schilling')

In [64]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]