In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series

In [2]:
val = 'a,b, guido'

In [3]:
val.split(',')

['a', 'b', ' guido']

In [4]:
pieces =[x.strip() for x in val.split(',')]

In [5]:
pieces

['a', 'b', 'guido']

In [6]:
first, second, third = pieces

In [10]:
first + '::' + second + '::' + third

'a::b::guido'

In [8]:
'::'.join(pieces)

'a::b::guido'

In [11]:
'guido' in val

True

In [12]:
val.index(',')

1

In [13]:
val.find(':')

-1

In [14]:
val.index(':')

ValueError: substring not found

In [15]:
val.count(',')

2

In [16]:
val

'a,b, guido'

In [18]:
val.replace(',', '::')

'a::b:: guido'

In [19]:
val.replace(',', '')

'ab guido'

In [20]:
import re

In [21]:
text = "foo    bar\t baz \tqux"

In [22]:
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [23]:
regex = re.compile('\s+')

In [24]:
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [25]:
regex.findall(text)

['    ', '\t ', ' \t']

In [26]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""

In [30]:
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [31]:
# re.IGNORECASE makes the regex case-insensitive
regex = re.compile(pattern, flags=re.IGNORECASE)

In [33]:
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [34]:
m = regex.search(text)

In [35]:
m

In [36]:
text[m.start():m.end()]

'dave@google.com'

In [37]:
print(regex.match(text))

None

In [38]:
print(regex.sub('REDACTED', text))

Dave REDACTED
Steve REDACTED
Rob REDACTED
Ryan REDACTED

In [39]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [40]:
regex = re.compile(pattern, flags=re.IGNORECASE)

In [41]:
m = regex.match('wesm@bright.net')

In [42]:
m.groups()

('wesm', 'bright', 'net')

In [43]:
regex.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [44]:
print(regex.sub(r'Username: \1, Domain: \2, Suffix: \3', text))

Dave Username: dave, Domain: google, Suffix: com
Steve Username: steve, Domain: gmail, Suffix: com
Rob Username: rob, Domain: gmail, Suffix: com
Ryan Username: ryan, Domain: yahoo, Suffix: com

In [45]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com',
        'Rob': 'rob@gmail.com', 'Wes': np.nan}

In [46]:
data = pd.Series(data)

In [47]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [48]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [49]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [50]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'

In [51]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [52]:
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]

In [53]:
matches

Dave     (dave, google, com)
Steve    (steve, gmail, com)
Rob        (rob, gmail, com)
Wes                      NaN
dtype: object

In [54]:
matches.str.get(1)

Dave     google
Steve     gmail
Rob       gmail
Wes         NaN
dtype: object

In [55]:
data.str[:5]

Dave     dave@
Steve    steve
Rob      rob@g
Wes        NaN
dtype: object

In [56]:
data.str.extract(pattern, flags=re.IGNORECASE)

           0       1    2
Dave    dave  google  com
Steve  steve   gmail  com
Rob      rob   gmail  com
Wes      NaN     NaN  NaN